html{
        background-color: black
}

body{ 
    background-color:grey
}
.background {
    background-image: url(https://github.com/brucewill03/Portfolio/raw/main/Images/ComputerBackground.png);
    background-size: cover;
    width: 2000px;
    height: 30px; 
    
    border: solid 2px black;
}
 
.image1{
    width: 1000px;
    height:300px;
    float: center;
    padding-bottom: 40px;

}
h1{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p{
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
    font-size: large;
}