html{
        background-color: black
}

body{ 
    background-color:grey

}
#TopMenu li {
    float:left;
    border-left: 3px solid black;
}

#TopMenu li a:hover{
    background-color: none;
}

#TopMenuText {
    padding: 14px 6px;
    font-size: 16px;
}


 
#TopMenu li a{
    display:block;
    color: gold;
    text-align: right;
    padding: 30px 50px;
    text-decoration: underline overline black 3px ;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: fantasy;
}

.float-right {
    float: right;
}

.image1 {
    float: right;
    height: 200px;
    padding-top: 100px;
    padding-right: 500px;
    
}

    
h1{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-bottom: 20px;
}

p{
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.flex-container {
    
    height:auto;
    display:flex;
    
}

.hover-element {
    opacity: 100%;
}

.hover-element:hover {
    opacity: 60%;
}

#social-media {
    position: fixed;
    bottom: 0px;
  }
  
  #social-media ul {
    list-style-type: none;
    margin:0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    
  }
  
  #social-media ul li {
    display:inline-block;
  }
  
  .rounded-button {
    border-radius: 15px;
    background-color: white;
  }