<style>
.background {
    background-image: url(https://github.com/brucewill03/Portfolio/raw/main/Images/ComputerBackground.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    border: solid 2px black;
}
 